Мы разрабатываем Android приложение для сжатия изображений.
Когда пишешь код, будь на 100% уверен, что ты не ломаешь ничего существующего.
Чем меньше строк кода, тем лучше.
Названия для коммитов должны быть максимально краткими и информативными.